<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">


  </head>
  <body>
    <%- include("header"); -%>
<div class="main">


<h1>CONTACT</h1>

<h3>Museum Favo Kunst</h3>
<p>Adres: Ellermanstraat 33 - 2060 Antwerpen <br>
   Email: contact@mfk.be</p>


<h3>Openingsuren:</h3>
<p>Maandag: gesloten <br>
   Dinsdag: 10-18uur <br>
   Woensdag: 10-18uur <br>
   Donderdag: 10-18uur <br>
   Vrijdag: 10-18uur <br>
   Zaterdag: 10-18uur <br>
   Zondag: 10-14uur</p>

<h3>Instagram:</h3>
<p>@MuseumFavoKunst</div>
  
<%- include("footer"); -%>
  </body>
</html>
