<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="footer">
			<p class="copyright">©MuseumFavoKunst - 2020
  	<br>
 </p>

		</div>
  </body>
</html>
