<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

  </head>
  <body>
    <%- include("header"); -%>

    <h6>Welkom!</h6>
    <p class="teksthome">Welkom op de website van Museum Favo Kunst! Op deze website kunt u informatie vinden over de museum en de kunstwerken die we tentoonstellen.</p>
    <h6>Werk in de kijker</h6>
    <br>
    <h5>La Promenade</h5>
    <a href="/kunstwerken">
    <img class="homejpg" src="promenade.jpg"  alt=""> klik hier voor meer informatie </a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include("footer"); -%>
  </body>
</html>
